<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <!--<div id="div_invicards" style="width:500px !important;cursor:pointer">
          <div class="container" style="width:500px !important">
            <div class="row" style="width:800px !important">
              <div class="col-sm">
                <img src="assets/Floor/FL1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
              </div>
              <div class="col-sm">
                <img src="assets/Floor/FL2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
              </div>
              <div class="col-sm">
                <img src="assets/Floor/FL3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
              </div>
            </div>
            <br />
            <div class="row" style="width:800px !important">
              <div class="col-sm">
                <img src="assets/Floor/FL4.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
              </div>

            </div>
          </div>
        </div>-->
      </div>
      <!-- 21:9 aspect ratio -->
      <!--<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="assets/Videos/Tiles.mp4"></iframe>
  </div>-->
      <div class="col">
        <h3>Sample Video</h3>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9" style="width:300px;height:300px">
          <iframe class="embed-responsive-item" src="assets/Videos/Tiles.mp4"></iframe>
        </div>
        </div>
      </div>
    </div>
</body>
</html>
