<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <!--<form action="" name="registration">
    <div style=" border-radius:15px 15px 15px 15px;border:1px solid;border-color:lightseagreen;width:800px">
      <div class="table-responsive">
        <table class="table borderless">
          <tbody>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="firstname">First Name:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="firstname" style="width: 170px " type="text" required />
              <label class="error"></label>
              </td>
              
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="lastname">Last Name:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="lastname" style="width:170px" type="text" /></td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="email">Email:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="email" style="width:170px" type="email" /></td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="dob">Date Of Birth:</label>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="dob" style="width:170px" type="text" /></td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="password">passowrd:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="password" style="width:170px" type="password" id="password" /></td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="confirmpassword">Confirm passowrd:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="confirmpassword" style="width:170px" type="password" id="confirmpassword" /></td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="phonenumber">Phone Number:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="phonenumber" style="width:170px" type="text" /></td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="securityqus1">Security Question:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="securityqus1" style="width:170px" type="text" /></td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="lbl_style" for="answer1">Answer:</label><span style="color:red">*</span>&nbsp;
                </div>
              </td>
              <td><input class="e-input" name="answer1" style="width:170px" type="text" /></td>
            </tr>
            <tr><td><button type="submit" style="border-color:lightseagreen;background-color:lightseagreen">Register</button></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>-->
  <form class="needs-validation" novalidate method="post" action="">
    <div style=" border-radius:15px 15px 15px 15px;border:1px solid;border-color:lightseagreen;width:800px">
      <div class="table-responsive">
        <div class="form-row">
          <table class="table borderless">
            <tbody>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="firstname">First Name:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="firstname" style="width: 170px " type="text" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="lastname">Last Name:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="lastname" style="width: 170px " type="text" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="email">Email:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="email" style="width: 170px " type="email" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="DOB">Date Of Birth:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="DOB" style="width: 170px " type="date" required />

                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="pwd">Passowrd:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="pwd" style="width: 170px " type="password" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="Confirmpwd">Confirm Password:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="Confirmpwd" style="width: 170px " type="text" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="Phonenum">Phone Number:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="Phonenum" style="width: 170px " type="number" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="SecurityQus">Security Question:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="SecurityQus" style="width: 170px " type="text" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width:150px">
                  <label class="lbl_style" for="ans">Answer:</label><span style="color:red">*</span>&nbsp;
                </td>
                <td>
                  <input class="form-control e-input" id="ans" style="width: 170px " type="text" required />
                  <div class="invalid-feedback">
                    Please enter Email.
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <button class="btn btn-primary btn-sm btn-rounded" (click)="register()" type="submit">Register</button>
        </div>
      </div>
        </form>

</body>
</html>
