<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title></title>
  <style>
       
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

  /* Firefox */
  input[type=number] {
  -moz-appearance: textfield;
  }
  </style>
</head>
<body>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" style="color:lightseagreen;font-size:medium"><b>Register</b></div>
          <div class="card-body">
            <form id="registration" name="registration">

              <table class="table borderless">
                <tbody>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="firstname">First Name:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="firstname" id="firstname" style="width: 220px " type="text" required />
                     
                    </td>
          
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="lastname">Last Name:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control " name="lastname" id="lastname" style="width: 220px " type="text" required />

                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="email">Email:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control " name="email" id="email" style="width: 170px " type="email" required />

                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="DOB">Date Of Birth:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control " name="DOB" placeholder="YYYY-MM-DD" id="DOB" style="width: 220px " type="date" required />
                      <!--<div class="input-group date" data-provide="datepicker">
                      <input type="text" class="form-control">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                      </div>
                    </div>-->
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="pwd">Password:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="pwd"   pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="pwd" style="width: 220px " type="password" required />
                    </td>
                  </tr>
                  <tr>
                    <td style="width:175px">
                      <label class="lbl_style" for="Confirmpwd">Confirm Password:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td style="width: 100px;">

                      <input class="form-control "  style="width: 220px "  type="password" id="Confirmpwd" required />
                    
                      <!-- <input  name="Confirmpwd" id="Confirmpwd" style="width: 220px " type="text" required />-->
                    </td>
                    <td><span toggle="#password-field" class="fa fa-eye toggle-password"></span></td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="Phonenum">Phone Number:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control " name="Phonenum" id="Phonenum" style="width: 220px " type="number" required />
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="SecurityQus">Security Question:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <!--<input class="form-control " id="SecurityQus" style="width: 170px " type="text" required />-->
                      <select class="form-control select2" required name="ddl_secqus" id="ddl_secqus" style="width:220px">
                        <option value=""></option>

                      </select>

                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="ans">Answer:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control " name="ans" id="ans" style="width: 220px " type="text" required />
                    </td>
                  </tr>

                </tbody>
              </table>


              <div class="col-md-6 offset-md-4">
                <button type="submit" (click)="register();" style="background-color:lightseagreen" id="register" class="btn btn-primary">
                  Register
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="alert alert-success" id="success-alert" style="width:300px;margin:0 auto" hidden="hidden">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Registration Successfull</strong>
    </div>
    <div class="alert alert-danger" id="danger-alert" style="width:300px;margin:0 auto" hidden="hidden">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Email already exists</strong>
    </div>
  </div>



</body>
</html>
