<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row" style="border:1px solid black;border-radius:5px">
      <p style="margin-left:5px">
        &nbsp;&nbsp;&nbsp;&nbsp; Founded in 2016 PrintSmart (PS) is a registered retail company providing various printing services and sells company’s unique products locally. Company realized that there is a demand for their products in wider markets, hence wanted to launch the website for selling their products entering into the digital world of business. Also, with the help of this project PS want to take an opportunity to rebrand their services on the name of ‘PrintSmart’ as they locally started their services on the name of ‘Meghana Digitals’ and the company were initially into the printing services only.
      </p>
      <p style="margin-left:5px">
        &nbsp;&nbsp;&nbsp;&nbsp; Under the brand of PrintSmart, various new products and services been added to company’s line of businesses. Also, the company stepped into Home Décor business besides their usual printing services. Moreover, the existing printing services been upgraded to the latest UV Jet smart printing technology catching up the trending markets, with this smart Korean printing technology company started printing services on different surfaces like Glass, Wood, Metal and Stone not limiting to just paper-based printing.
      </p>
      <p style="margin-left:5px">
        &nbsp;&nbsp;&nbsp;&nbsp; As Home décors is the new service launched by the company, PS want to highlight this service within the web portal as they got different sub-service lines within it. Modern Kitchen units and bedroom cupboards with unique printing design panels using UV print technology is top in list service which caters demands to market needs for premium homes. Second in list is the premium and international standard wallpapers imported from overseas for commercial needs and homes. PS has a huge collection of designer range durable wallpapers for decorating homes and offices ranging from base level to premium level targeting different type of customers fulfilling their requirements. And other home décor products like blinds, curtains, windows, WPC/PVC/wooden doors, 2D & 3D wallposters, etc., been hosted on the web along with Glass and wooden partitioning services.
      </p>
      <p style="margin-left:5px">
        &nbsp;&nbsp;&nbsp;&nbsp; Another new service that has been added to PS’s powerful business lines is the smart computer-based Laser Technology cutting for accurate shaping and carving of their unique products. PS sells wooden and PVC based designer range gifting items for different life events and occasions. Company manufactures personal accessories (like Engraving on Keychains, Leather wallets, Pens, Laptops, etc.,), and mementos for Sports, Academy and Corporates. With this service, civil architecture designs for modern home interiors, exteriors and partitions are also crafted.
      </p>
      <p style="margin-left:5px">
        &nbsp;&nbsp;&nbsp;&nbsp; PS in addition has number of other products like T-Shirts printing, Wedding & invitation cards, personalised Keychains, Mug & pillow printing, Photo Frames, Designer clocks, Greeting cards, Brochures & flyers, Business cards, Identity cards, Calendars, Stationery items, Photo & wedding albums, smart LED commercial boards, Diaries, Floor designs, personalised mobile case, bag and laptop skin prints, Flex printing, etc., are being hosted on the new web platform for companies capital growth and expansion.
      </p>
    </div>
  </div>
</body>
</html>
