<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title></title>
</head>
<body>
  <div class="container" style="height:500px">
    <div class="row">
      <div class="column">
        <!--<label>K.v.v.s.v.Prasad</label>-->
        <br />
        <!-- <label>WebSite: <a href="www.printsmart.in">www.Printsmart.in</a></label><br />-->
        <label>Contact Numbers:</label>&nbsp;
        <span>9142323666</span>&nbsp;&nbsp;<span class="fab fa-whatsapp"></span>
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;<span>9494048664</span>
        <br />
        <label>Email:</label>
        <span>helpdesk@printsmart.in</span>
      </div>
    </div>
  </div>
  </body>
</html>
