<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column">
        <label>K.v.v.s.v.Prasad</label>
        <br />
        <label>WebSite: <a href="www.printsmart.in">www.Printsmart.in</a></label><br />
        <label>Contact Number:</label>&nbsp;
        <span>9142323666</span>&nbsp;&nbsp;<span class="fab fa-whatsapp"></span>
        <br />
        <label>Address:</label>
        <span>Opp: Vishnalayam,Jagannaickpur Main road,Kakinada-533002</span>
      </div>
    </div>
  </div>
  </body>
</html>
