<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title></title>
  <style>
    a:hover {
        text-decoration:underline !important;
        cursor:pointer;
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="row justify-content-center" id="div_outer_admin">
      <div class="col-md-8">
        <div class="card" id="card_create">
          <div class="card-header" style="color:lightseagreen;font-size:medium">
            <b>Create Model</b>

          </div>
          <div class="card-body">
            <form id="Admin" action="" method="post">

              <table class="table borderless">
                <tbody>
                  <tr>
                    <td><label class="lbl_style" for="ddl_prodl1">Select Product</label></td>
                    &nbsp;
                    <td>
                      <select class="js-example-basic-single" id="ddl_prodl1" style="width:150px">
                        <option></option>

                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label class="lbl_style" for="ddl_prodl2">Select Product Header</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <select class="js-example-basic-single" id="ddl_prodl2" style="width:150px">
                        <option></option>

                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label class="lbl_style" for="text">Select Sub-Product</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <select class="js-example-basic-single" id="ddl_prodl3" style="width:150px">
                        <option></option>

                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label class="lbl_style" for="text">Enter Model Code</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <input class="e-input" id="modle_code" style="width:150px" type="text" placeholder="Enter Model Code" />
                    </td>
                  </tr>
                  <tr>
                    <td><label class="lbl_style" for="text">Enter Model Description</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <input class="e-input" id="modle_desc" style="width:150px" type="text" placeholder="Enter Model Description" />
                    </td>
                  </tr>
                  <tr>
                    <td><label class="lbl_style" for="text">Select Image</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <input type="file"
                             id="file"
                             accept=".jpeg,.jpg"
                             (change)="OnFileSelect($event)">
                    </td>
                  </tr>
                  <tr>
                    <td><label class="lbl_style" for="text">Enter MRP</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <input class="e-input" id="max_price" style="width:150px" type="text" placeholder="Enter Price" />
                    </td>
                  </tr>
                  <tr>
                    <td><label class="lbl_style" for="text">Enter Discount</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <input class="e-input" id="dis" style="width:150px" type="text" placeholder="Enter Discount" />
                    </td>
                  </tr>
                  <!--<tr>
                    <td><label class="lbl_style">Price</label></td>
                    &nbsp;&nbsp;
                    <td>
                      <label class="lbl_style" id="lbl_price"></label>

                    </td>
                  </tr>-->
                </tbody>
              </table>


              <div class="col-md-6 offset-md-4">
                <button class="btn btn-primary" type="button" (click)="save()">Save</button>
              </div>
              <br />
              <br />
              <div class="col-md-6 offset-md-4">
                <button class="btn btn-primary" type="button" (click)="edit()">Edit Model</button>
              </div>
              <div class="alert alert-success" id="success-alert" style="width:300px;margin:0 auto">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Image Uploaded</strong>
              </div>

            </form>

          </div>

          <br />
        </div>

        <div class="card" id="card_edit">
          <div class="card-header" style="color:lightseagreen;font-size:medium">
            <b>Edit Model</b>

          </div>
          <table class="table borderless" id="tbl_edit">
            <tbody>
              <tr>
                <td><label class="lbl_style" for="ddl_prodl1_edit">Select Product</label></td>
                &nbsp;
                <td>
                  <select class="js-example-basic-single" id="ddl_prodl1_edit" style="width:150px">
                    <option></option>

                  </select>
                </td>
              </tr>
              <tr>
                <td><label class="lbl_style" for="ddl_prodl2_edit">Select Product Header</label></td>
                &nbsp;&nbsp;
                <td>
                  <select class="js-example-basic-single" id="ddl_prodl2_edit" style="width:150px">
                    <option></option>

                  </select>
                </td>
              </tr>
              <tr>
                <td><label class="lbl_style" for="ddl_prodl3_edit">Select Sub-Product</label></td>
                &nbsp;&nbsp;
                <td>
                  <select class="js-example-basic-single" id="ddl_prodl3_edit" style="width:150px">
                    <option></option>

                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <div class="col-md-6 offset-md-4">
            <button class="btn btn-primary" type="button" id="btn_edit_submit" (click)="submit()">submit</button>
          </div>
          &nbsp;
          <a  (click)="back()">Back</a>
          <br />
          <div class="alert alert-danger" id="danger-alert" style="width:300px;margin:0 auto" hidden="hidden">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>no results found</strong>
          </div>
        </div>
      </div>
    </div>

    <div style="padding-left:155px">

      <br />

      <table id="makeEditable" style="height:200px;overflow-y:scroll;width:725px"
             class="table table-bordered table-striped table-hover table-condensed table-responsive">
        <thead style="background-color:lightseagreen">
          <tr>
            <th></th>
            <th hidden="hidden">
              detId
            </th>
            <th hidden="hidden">
              MOdelID
            </th>
            <th>
              MRP
            </th>
            <th>
              DIS
            </th>
            <th>
              SP
            </th>
            <th hidden="hidden">
              ModelLink
            </th>
            <th>
              Model Description
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let price_dt of price_detail;let i=index">
            <td><img src="{{price_dt.modelLink}}" style="height:50px;width:50px" /></td>
            <td hidden="hidden">
              {{price_dt.priceDetId}}
            </td>
            <td hidden="hidden">
              {{price_dt.modelId}}
            </td>
            <td>
              <input class="edit" style="width:150px" type="text" id="txtmrp" disabled="disabled" placeholder="{{price_dt.maxRetailPrice}}" value="{{price_dt.maxRetailPrice}}" />
            </td>
            <td>
              <input class="edit" style="width:150px" type="text" id="txtdis" disabled="disabled" value="{{price_dt.percentDisc}}" placeholder="{{price_dt.percentDisc}}" />
            </td>
            <td>
              {{price_dt.sellingPrice}}
            </td>
            <td hidden="hidden">
              {{price_dt.modelLink}}

            </td>
            <td>
              {{price_dt.modelDesc}}

            </td>
            <td>
              <button type="button" class="btn btn-primary" id="btn_row" (click)="btn_row_click(price_dt,i)">Edit</button>
              <button type="button" class="btn btn-primary" id="btn_row_del" (click)="btn_rowdel_click(price_dt,i)">Delete</button>
              <span class="btn_save" id="spn_save"> <button type="button" class="" hidden="hidden" (click)="btn_newsave(i)"> Save</button> </span>
              &nbsp;<span class="btn_cancel" id="spn_cancel"> <button type="button" class="btncancel" hidden="hidden" (click)="btn_newcancel(i)"> Cancel</button></span>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    
    </div>
    <br />

  </div>


</body>
</html>
