<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title></title>
  <style>
    
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

  /* Firefox */
  input[type=number] {
  -moz-appearance: textfield;
  }
  </style>
</head>
<body>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" style="color:lightseagreen;font-size:medium"><b>New Address</b></div>
          <div class="card-body">
            <form id="registration" action="" method="post">

              <table class="table borderless">
                <tbody>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="firstname">Name:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="firstname" id="firstname" style="width: 220px " type="text" required />
                      <span class="error_form" id="firstname_err_msg"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="Phonenum">Phone Number:</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <label>+91</label>
                      <input class="form-control" name="Phonenum" id="Phonenum" style="width: 184px;margin-left:36px;margin-top:-30px" type="text" required />
                      <span class="error_form" id="phnNum_err_msg"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="AdL1">Address Line1</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" placeholder="flat no/house no,appt name" name="AdL1" id="AdL1" style="width: 220px " type="text" required />
                      <span class="error_form" id="addl1_err_msg"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="AdL2">Address Line2</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="AdL2" placeholder="Street" id="AdL2" style="width: 220px " type="text" required />
                      <span class="error_form" id="addl2_err_msg"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="AdL3">Address Line3</label><span style="color:red"></span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="AdL3" placeholder="(landmark)" id="AdL3" style="width: 220px " type="text"  />

                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="AdL4">City</label><span style="color: red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="AdL4" placeholder="City" id="AdL4" style="width: 220px " type="text" required />
                      <span class="error_form" id="addl4_err_msg"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="AdL5">State</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="AdL5" placeholder="State" id="AdL5" style="width: 220px " type="text" required />
                      <span class="error_form" id="addl5_err_msg"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="postalcode">ZIP</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td>
                      <input class="form-control" name="postalcode" placeholder="postal code" id="postalcode" style="width: 220px" type="text" maxlength="6" required />
                      <span class="error_form" id="zip_err_msg"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:150px">
                      <label class="lbl_style" for="ddl_addtype">Address Type</label><span style="color:red">*</span>&nbsp;
                    </td>
                    <td style="width:220px">
                      <select class="form-control select2"  name="ddl_addtype" id="ddl_addtype" style="width:220px">
                        <option value="1">Home</option>
                        <option value="2">Office</option>
                      </select>

                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <input type="checkbox" id="isdefaul" name="isdefaul" checked="checked" />&nbsp;
                      <label for="isdefaul" >IsDefault</label>
                    </td>
                  </tr>
                </tbody>
              </table>


              <div class="col-md-6 offset-md-4">
                <button type="submit" (click)="add_address();" style="background-color:lightseagreen" id="submit" class="btn btn-primary">
                  Add Address
                </button>&nbsp;
                <a href="#" [routerLink]="['/address-list']">Addresses List</a>
              </div>

            </form>
          </div>
          <br />
          <div class="alert alert-success" id="success-alert" style="width:300px;margin:0 auto" hidden="hidden">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>New address added</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
