<div class="container">
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/trophy/AC1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/trophy/AC2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/trophy/AC3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>

  </div>
  <br />
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/trophy/ACPRINT 1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/trophy/ACPRINT2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>

  </div>


</div>
