<div class="container">
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/Brouchers_A4/BR1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Brouchers_A4/BR2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Brouchers_A4/BR3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>

  </div>
  <br />
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/Brouchers_A4/BR4.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Brouchers_A4/CR2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Brouchers_A4/CR3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
  </div>

</div>
