
  <div class="container">
    <div class="row" style="width:800px !important">
      <div class="col-sm">
        <img src="assets/glass_partition/OFFICEPARTION.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
      <div class="col-sm">
        <img src="assets/glass_partition/ROOMPARTION1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
      <div class="col-sm">
        <img src="assets/glass_partition/ROOMPARTION2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
  
    </div>
    <br />
    <div class="row" style="width:800px !important">
      <div class="col-sm">
        <img src="assets/glass_partition/ROOMPARTION3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
      <div class="col-sm">
        <img src="assets/glass_partition/ROOMPARTION4.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
      <div class="col-sm">
        <img src="assets/glass_partition/ROOMPARTION5.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
      <div class="col-sm">
        <img src="assets/glass_partition/ROOMPARTION6.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
    </div>

  </div>

