<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div id="div_invicards" style="width:500px !important;cursor:pointer">
    <div class="container" style="width:500px !important">
      <div class="row" style="width:800px !important">
        <div *ngFor="let img of img_list">
          <div class="col-sm">
            <img id="img_Invicards" (click)="imgclick(img.modelId,img.modelLink,img.modelDesc)" src="{{img.modelLink}}" style="border:1px solid;width:230px" alt="Los Angeles">
          </div>
          <br />
        </div>
      </div>

    </div>
  </div>

  <div class="container" id="innerdiv_invicards">
    <div class="row">
      <div class="col">
        <div id="div_img_cart">
          <img src="" id="img_selected_invicard" style="width:300px" alt="Los Angeles">
        </div>
      </div>
      <div class="col">
        <br />
        <label style="font:bold" id="lbl_desc"></label>
        <br />
        <br />
        <select class="js-example-basic-single" id="ddl_Qty" style="width:150px">
          <option value=""></option>
          <option value="1">10</option>
          <option value="2">20</option>

        </select>
        <br />
        <br />
        <select class="js-example-basic-single" id="ddl_prodmat" style="width:150px">
          <option value=""></option>
        </select>
        <br />
        <br />
        <select hidden class="js-example-basic-single" id="ddl_prodser" style="width:150px">
          <option value=""></option>
        </select>
        <br />
        <br />
        <label style="font-size:15px">Selling Price</label>&nbsp;
        <label style="font-size:15px" id="lbl_price"></label><br />

        <label style="font-size:15px">Price</label>&nbsp;
        <label style="font-size:15px" id="lbl_sellingprice"></label><span style="font-size:15px" id="sp_disc"></span><br />
        <!-- <label style="font:bold" id="lbl_disc"></label><br />-->
        <br />
        <button type="submit" class="btn btn-outline-success" (click)="AddToCart()" id="btn_AddtoCart"
                style="background:lightseagreen;border-color:lightseagreen;color:white">
          Add to cart
        </button>
      </div>
    </div>
  </div>

</body>
</html>
