
.dropdown-menu {
  min-width: 200px;
}

.dropdown-menu.columns-2 {
  min-width: 400px;
}

.dropdown-menu.columns-3 {
  min-width: 600px;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
  color: #000000;
}

  .dropdown-menu li a:hover {
    text-decoration: none;
    color: #262626;
    /*background-color: none !important;*/
    opacity: 1.0;
    color: blue;
  }

.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #ff0000;
}

  .multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #000000;
    white-space: normal;
  }

    .multi-column-dropdown li a:hover {
      text-decoration: none;
      color: #262626;
      /*background-color: #999;*/
      opacity: 1.0;
      color: blue;
    }

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}

/*nav bar background colour custom*/
.navbar-custom {
  background-color: lightseagreen;
}

/*body carousel*/
