<div id="div_invicards" style="width:500px !important;cursor:pointer">
  <div class="container" style="width:500px !important">
    <div class="row" style="width:800px !important">
      <div class="col-sm">
        <img src="assets/Door/DOOR1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
      <div class="col-sm">
        <img src="assets/Door/DOOR2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
      <div class="col-sm">
        <img src="assets/Door/DOOR3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
      </div>
    </div>
    <br/>
      <div class="row" style="width:800px !important">
        <div class="col-sm">
          <img src="assets/Door/DOOR5.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
        </div>
        </div>
      
    </div>
</div>
