<div class="container">
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/BL2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/BL3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/BLINDERS.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>

  </div>
  <br />
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/CL1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/CL2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/CL2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
  </div>
  <br/>
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/CL4.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/Cloth_Blinders_A4/CL5.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
  </div>
</div>
