<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title></title>
</head>
<body>

  <div class="container" style="height:500px">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div class="global-container" style="width:400px">
        <div class="card login-form">
          <div class="card-body">
            <h3 class="card-title text-center">Sign In</h3>
            <div class="card-text">
              <form method="post" action="" id="loginform">

                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control form-control-sm" name="email" id="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="pwd">Password</label>
                  <a href="#" style="float:right;font-size:12px;" id="forgotpwd" [routerLink]="['/forgotpassword']">Forgot password?</a>
                  <input type="password" class="form-control form-control-sm" name="pwd" id="pwd">
                </div>
                <button type="submit" id="signin" class="btn btn-primary btn-block" (click)="submit()" style="background-color:lightseagreen;border-color:lightseagreen">Sign in</button>
                <br />

                <div class="sign-up">
                  Don't have an account? <a href="#" [routerLink]="['/Register']" style="color:lightseagreen">Create One</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-success" id="danger-alert" style="width:300px;margin:0 auto">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>  Incoreect Passowrd</strong>
    </div>
  </div>


</body>
</html>
