<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <div id="div_invicards" style="width:500px !important;cursor:pointer">
    <div class="container" style="width:500px !important">
      <div class="row" style="width:800px !important">
        <div class="col-sm">
          <img src="assets/Cupboards/BC1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
        </div>
        <div class="col-sm">
          <img src="assets/Cupboards/bc2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
        </div>
        <div class="col-sm">
          <img src="assets/Cupboards/bc3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
