<div class="container">
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/steps_railing/STEPS1.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/steps_railing/STEPS2.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
    <div class="col-sm">
      <img src="assets/steps_railing/STEPS3.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>

  </div>
  <br />
  <div class="row" style="width:800px !important">
    <div class="col-sm">
      <img src="assets/steps_railing/STEPS4.jpg" style="border:1px solid;width:230px" alt="Los Angeles">
    </div>
   
  </div>

</div>
