<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class='row'>
    <div class='col-md-6' style="border:dotted;height:200px;width:200px">
      <a href="#">Promos</a>
      <br />
      <a href="#">Discounts</a>
      <br />
      <a href="#">Sale</a>
    </div>
    <div class='col-md-6'>

      New products/services
      <br>
      <img src="assets/Img/brouchers.jpg" style="height:100px;width:100px" />
      <img src="assets/Img/Postcards.jpg" style="height:100px;width:100px" />
      <img src="assets/Img/brouchers.jpg" style="height:100px;width:100px" />
      <img src="assets/Img/Postcards.jpg" style="height:100px;width:100px" />

    </div>
    <div class="container">

      <div class='row'>
        <div class='col-md-8'>
          <div class="carousel slide media-carousel" id="media">
            <div class="carousel-inner">
              <div class="item  active">
                <div class="row">
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                  <div class="col-md-4">
                    <a class="thumbnail" href="#"><img alt="" src="assets/Img/brouchers.jpg"></a>
                  </div>
                </div>
              </div>
            </div>
            <a data-slide="prev" href="#media" class="left carousel-control"></a>
            <a data-slide="next" href="#media" class="right carousel-control"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
